.container {
    height: 100%;
    user-select: none;
}

.pos-rel {
    position: relative;
}

.pad-sides {
    padding-left: 4px;
    padding-right: 4px;
}

.flex {
    flex: 1;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-right {
    margin-left: auto;
}

/*
    Media Queries
*/
@media screen and (min-width: 320px) {
}

@media screen and (min-width: 550px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 960px) {
}

/*
    Retina devices
*/
@media screen and (min-resolution: 2dppx) {
}

/*
    JS Disabled
*/
@media (scripting: none) {
}

/*
    JS Enabled
*/
@media (scripting: enabled) {
}

/*
    Touch
*/
@media (pointer: coarse) {
}

/*
    Mouse
*/
@media (pointer: fine) {
}

/*
    No Hover
*/
@media (hover: none) {
}

/*
    Hover
*/
@media (hover: hover) {
}

/*
    Bright light
*/
@media (light-level: washed) {
}

/*
    Dim light
*/
@media (light-level: dim) {
}

/*
    Standard light
*/
@media (light-level: normal) {
}
